body {
  background: black;
  color: #eeeeee;
}

heading img {
  padding: 20px 0;
  display: block;
  margin: auto;
}

form {
  display: inline-block;
}

h2 {
  font-family: Arial, sans-serif;
}

p {
  font-size: 36px;
}

#progress {
  letter-spacing: 5px;
}

#progress, #guesses, #result, .form {
  text-align: center;
}

#progress, #result, .wrong-list {
  font-family: 'Pangolin', sans-serif;
}

#status-img img {
  display: block;
  margin: auto;
  width: 500px;
}

.lost {
  color: red;
}

.won {
  color: green;
}
